<!DOCTYPE html>
<html>
  <head>
    <title>Ironman2023Hanabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <footer class="fixed flex justify-between bottom-0 left-0 w-full p-4 bg-white border-t border-gray-200 shadow">
      <a href="https://github.com/noracami/ironman2023-hanabi/" target="_blank" class="mr-4 hover:underline">Repo ==> https://github.com/noracami/ironman2023-hanabi/</a>
    </footer>
  </body>
</html>
